{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mt-2">
        <a class="btn btn-outline-secondary" href="{{ path('app_home') }}">Back</a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.createdAt|format_datetime('full', 'short', locale='fr') }} by {{ post.user.name }}</p>
        {% if post.image is not null %}
            <img src="{{ post.image ? asset('uploads/' ~ post.image)}}" class="card-img-top" alt="{{ post.title }}">
        {% else %}
            <img src="https://picsum.photos/600/400" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <p>{{ post.content|raw }}</p>
        <div class="m3-5">
            <h4 class="text-center mb-3">Add a comment</h4>
            {% if is_granted('ROLE_USER') %}
                {{ form(form) }}
            {% else %}
                <div class='text-center alert alert-info'>
                    <b>You must <a href="{{path ('app_login')}}">login</a> to post a comment</b>
                </div>
            {% endif %}
        </div>
        {% for comment in post.comments|sort((a,b)=> a.createdAt > b.createdAt) %}
            <div class="d-flex justify-content-between my-3">
                <div>
                    <strong>Published {{ comment.createdAt|format_datetime('short', 'short', locale='fr') }} by {{ comment.user.name }}</strong>
                    <div>{{ comment.content }}</div>
                </div>
                {% if app.user and app.user.id == comment.user.id %}
                    <div>
                        <a href="{{ path('app_comment_delete', {'id': comment.id}) }}" class="btn btn-outline-danger">Delete</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
